*{
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
}
i{
  color:rgb(54, 53, 53);
  font-size:6rem;
  margin-bottom:2rem;
}
.container{
  max-width:500px;
  margin:0 auto;
  text-align:center;
}
.card{
  margin:0 auto;
  max-width: 15rem;
  border:solid 1px gray;
  border-radius:5px;
  margin-top:2rem;
  padding:2rem 1rem;
  background:white;
  box-shadow: 2px 2px 5px rgb(80, 79, 79);
}
input{
  width:100%;
  margin-bottom:10px;
  padding:.4rem 0;
  color:gray;
}
.btn{
  width: 100%;
  padding:.5rem 1rem;
  background: rgb(85, 129, 19);
  border:none;
  border-radius:5px;
  color:white;
  text-transform:uppercase;
  cursor:pointer;
}
.alert-error{
  background:tomato;
  color:white;
  max-width: 15rem;
  margin:0 auto;
  padding:1rem;
  border-radius: 5px;
  margin-top:1rem;
}
.info-card{
  border:solid 1px gray;
  max-width:15rem;
  margin:0 auto;
  padding:1rem;
  margin-top:1rem;
  border-radius:5px;
}
.info-card h3{
  font-size:2rem;
}
.mt-10{
  margin-top:10px;
}